* {
   margin: 0;
   padding: 0;
}
.homeworklesson7 {
   display: flex;
}
.exercise {
   font-size: 14px;
   margin: 5px;
   border: 2px solid slateblue;
   background-color: silver;
   width: 33.333%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.lineTrough {
   text-decoration: line-through;
}
.button {
   margin-top: 5px;
   font-size: 10px;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}
button {
   font-size: 0.6rem;
   margin: 5px;
   width: 50%;
}
li {
   margin-left: 5px;
   list-style-position: inside;
}
